#header {
    display: flex;
    justify-content: center;
    background-color: #cce3de;
    
}

h1 {
    font-family: 'Ruthie', cursive;
    font-size: 60px;
    margin: auto;
    padding: 10px;
}

#container {
    display: flex;
    justify-content: space-around;
}

#btn {
    margin-top: 200px;
    background-color: #cce3de;
    padding: 25px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    font-family: 'Ruthie', cursive;
}

#btn:hover {
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

a{
    text-decoration: none;
    font-size: 40px;
    color: black;
    font-weight: bolder;
}

#myVideo {
    position: fixed;
    top:0;
    right:0;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
}